<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socialshoot.admin.mapper.AdminUserMapper">
    
    <resultMap id="adminUserMap" type="com.socialshoot.admin.entity.AdminUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="real_name" property="realName" />
        <result column="avatar" property="avatar" />
        <result column="role" property="role" />
        <result column="status" property="status" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    
    <select id="selectByUsername" resultMap="adminUserMap">
        SELECT * FROM admin_user WHERE username = #{username}
    </select>
    
    <select id="selectById" resultMap="adminUserMap">
        SELECT * FROM admin_user WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.socialshoot.admin.entity.AdminUser">
        INSERT INTO admin_user (username, password, real_name, avatar, role, status, create_time, update_time)
        VALUES (#{username}, #{password}, #{realName}, #{avatar}, #{role}, #{status}, NOW(), NOW())
    </insert>
    
    <update id="update">
        UPDATE admin_user 
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="updateLastLogin">
        UPDATE admin_user 
        SET last_login_time = #{lastLoginTime}, 
            last_login_ip = #{lastLoginIp}
        WHERE id = #{id}
    </update>
</mapper>